<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/hostedproperties.css">
</head>
<body>
    {{>navbar}}

    <section class="my_hostings_cont">
        <h1>Hosted Properties</h1>
       {{!-- <div class="hostings">
            <h1 id="hosted_prop_name">vinayak enclave</h1>
            <div class="hosted_prop_cont">
                <div class="image_of_prop">
                    <div class="image"></div>
                    <div class="image_properties">
                        <p>location : 
                            <span class="hosted_prop_location">
                            </span>
                        </p>
                        <p>Price :
                            <span class="hosted_price"></span>
                        </p>
                        <p>Area :
                            <span class="hosted_area"></span>
                        </p>
                        <p>Rating :
                            <span class="hosted_rating"></span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="alert">
                <p>For any other queries <a href="/contactus">Visit the Help Centre</a></p>
            </div>
        </div> --}}
    </section>
    {{>footer}}

    <script src="/script/hostedproperties.js"></script>
</body>
</html>