<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/myFav.css">
</head>
<body>

    <div class="confirmation_wrapper">
        <form class="theForm" action="" method="get">
            <h2>Are you sure you want to remove <span class="name_of_the_prop">xyz</span> from your wishlist?</h2>

            <div class="cancellation_btns">
                <button class="cancel" type="button">Cancel</button>
                <button class="remove" type="submit">
                    Remove
                </button>
            </div>
        </form>
    </div>

    {{>navbar}}
    
    <section class="myFav_wrapper">
        <h1>my whishlist</h1>

        <div class="no_favs">
            <h2>You do not have any <span>wishlist</span> yet!</h2>
            <button class="explore" type="button">Start Exploring</button>
        </div>


        {{!-- <div class="myFav_cont">
            <div class="myFav_img">

            </div>
            <div class="myFav_prop_info">
                <div class="title_wrapper">
                    <h2 class="title">My dream trip</h2>
                    <span class="fa-solid fa-heart heart"></span>
                </div>
                <h2 class="myFav_prop_name">hello</h2>
                <div class="myFav_prop_details">
                    <span class="guests">3 guests</span>
                    <span>.</span>
                    <span class="bedrooms">3 bedrooms</span>
                    <span>.</span>
                    <span class="beds">3 bed</span>
                </div>
                <div class="btn_n_price">
                    <button type="button" class="button_to_booking">Book now</button>
                    <p><span class="myFav_prop_price">Rs 2000</span> night</p>
                </div>
            </div>
        </div> --}}
    </section>

    {{>footer}}
    
    <script src="script/myFav.js"></script>
</body>
</html>


