<footer>
    <div class="footer_contents">
        <p>&copy; 2022 Gagan Deep Singh</p>
        <div class="terms">
            <p>. privacy</p>
            <p>. terms</p>
            <p>. sitemap</p>
            <p>. company details</p>
        </div>
    </div>

    <button class="reserve_tab" type="button">Reserve</button>

    <div class="footer_contents">
        <h2 id="username_render">Hey! {{name}}</h2>
        <h2>
            <span class="material-symbols-outlined">
                language
            </span>
            English (IN)
        </h2>
        <h2>
            <span class="material-symbols-outlined">
                currency_rupee
            </span>
            INR
        </h2>

    </div>
</footer>