    <header>
        <nav>
            <div class="nav-menu">
                <img src="https://d3ui957tjb5bqd.cloudfront.net/uploads/2015/09/airbnb-2.jpg" alt="airbnb logo" srcset="" width="50px" height="50px">
                <a href="/" id="logotext"><h3>airbnb</h3></a>
            </div>
            <div class="nav-menu box">
                <span class="search_menu border-right">Anywhere</span>
                <span class="search_menu border-right margin">Any week</span>
                <span class="search_menu border-right margin grey">Add guests</span>

                <input type="search" name="search_bar" class="search_bar hide-search-bar" id="search_bar" placeholder="Search your city...">

                <span class=" margin search-icon" id="search-icon"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></span>
            </div>
            <div class="nav-menu">
                <div class="profile_div type-hidden-1"><a href="/hosting">Become a host</a></div>
                <div class="profile_div"><i class="fa-solid fa-globe"></i></div>
                <div class="box flex margin user-menu" id="options">
                    <div class="profile_div"><i class="fa-solid fa-bars"></i></div>
                    <div class="profile_div image_display" id="loginuser_image"><i class="fa-regular fa-user" id="hide"></i></div>
                </div>
                <div class="list">
                    <div class="logIn-signUp">
                        <a href="/login"><p>&emsp;Log in</p></a>
                        <a href="/register"><p>&emsp;Sign Up</p></a>
                    </div>
                    <div class="extra-list">
                        <a href=""><p>&emsp;Host your home</p></a>
                        <a href=""><p>&emsp;Host an experience</p></a>
                        <a href="/contactUs"><p>&emsp;Help</p></a>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section section--hide">
            <div class="category_selection">
                <div class="dc">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                    <p>house</p>
                </div>
                <div class="dc">
                    <span class="material-symbols-outlined">
                        apartment
                    </span>
                    <p>flat</p>
                </div>
                <div class="dc">
                    <span class="material-symbols-outlined">
                        deck
                    </span>
                    <p>resort</p>
                </div>
                <div class="dc">
                    <span class="material-symbols-outlined">
                        location_city
                    </span>
                    <p>hotel</p>
                </div>
            </div>
            <div class="filter">
                <span class="fa-solid fa-shuffle"></span>
                <p>filter</p>
            </div>
        </section>
    </header>
       