
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&family=Noto+Sans+Mono&display=swap');
 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Bitter', serif;
}

html{
    font-size: 62.5%;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*............................................. HEADER NAV BAR............................................. */
header{
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    height: fit-content;
}

header nav{
    width: 100%;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4rem;
    height: 7rem;
    box-shadow: 0px 0px 5px 2px rgba(228, 227, 227, 0.849);
}

header nav .nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

header nav .nav-menu:nth-child(1){
    gap: 0rem;
}

header nav .nav-menu:nth-child(2){
    width: fit-content;
    padding: 2rem;
    transform: translateX(5rem);
    display: none;
}

/* header nav .nav-menu:nth-child(3){
} */

header nav .nav-menu a{
    text-decoration: none;
    font-size: 2rem;
    transform: translateX(-0.5rem);
    letter-spacing: 0.05rem;
} 

header nav .nav-menu a h3{
    color: #ff385c;
    font-size: 2rem;
    /* font-family: 'Noto Sans Mono', monospace; */
    pointer-events: none;
}

header nav .nav-menu>.search_bar{
    width: 100%;
    min-width: 18em;
    height: inherit;
    font-size: 1.5rem;
    text-align: left;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
    color: #ff385c;
}

header nav .nav-menu>.search_bar.hide-search-bar{
    display: none;
}

header nav .nav-menu>.search_bar::placeholder{
    color: #ff385db1;
}

header nav .box{
    width: max-content;
    height: 2rem;
    border-radius: 3rem;
    padding: 1.3rem 1rem;
    gap: 1rem;
    box-shadow: 0px 0px 5px 5px rgba(228, 227, 227, 0.849);
}

header nav .box .search_menu{
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 0.4rem;
}

header nav .box .search-icon{
    width: 3rem;
    height: 3rem;
    line-height: 100%;
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #ff385c;
    color: white;
    cursor: pointer;
    transform: translateX(1rem);
}

header nav .nav-menu .profile_div a{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

header nav .nav-menu .profile_div a:hover{
    color: #ff385c;
}

header nav .nav-menu .profile_div>i{
    font-size: 1.5rem;
}

header nav .nav-menu .user-menu{
    padding: 2rem 1rem;
    position: relative;
    cursor: pointer;
}

header nav .nav-menu .list{
    
    position: absolute;
    box-shadow: 0px 0px 5px 5px rgba(228, 227, 227, 0.849);
    width: 20em;
    z-index: 11;
    top: 6.2rem;
    right: 4rem;
    background-color: #fff;
    border-radius: 1rem;
    display: none;
}

header nav .nav-menu .list--show{
    display: block;
    user-select: none;
}

header nav .nav-menu .list .logIn-signUp{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 0.5px solid lightgray;
    padding: 1rem 0rem;
    gap: 1rem;
}

header nav .nav-menu .list .logIn-signUp p{
    font-size: 0.8em;
    letter-spacing: 1px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
}

header nav .nav-menu .list .logIn-signUp p:nth-child(2){
    width: 100%;
    position: relative;
}

header nav .nav-menu .list .logIn-signUp p:hover{
    transform: scale(1.1);
}

header nav .nav-menu .list .extra-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0rem;
    justify-content: center;
    align-items: flex-start;
}

header nav .nav-menu .list .extra-list a>p{
    font-size: 0.8em;
    letter-spacing: 1px;
    width: 100%;
}

/* air information for wishlist */
.air-information{
    width: 1.8rem;
    height: 1.8rem;
    background-color: #ff385c;
    position: absolute;
    top: 0;
    right: -3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.air-information>.no_of_info{
    font-weight: bold;
    font-size: 1em;
}



header nav .nav-menu .list .extra-list p:hover{
    transform: scale(1.1);
}

.margin{
    margin-left: 1rem;
}

.border-right{
    border-right: 2px solid grey;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-menu .profile_div{
    font-size: 1rem;
}

/* header nav .nav-menu .user-menu>.profile_div.image_display{
    background: red;
    width: 3rem;
    height: 3rem;
    
} */

header nav .nav-menu .user-menu div:nth-child(2){
    width: 3rem;
    height: 3rem;
    /* margin-left: 1rem; */
    border-radius: 50%;
    display: grid;
    place-content: center;
    transform: translateX(0.5rem);
    background-size: cover;
    background-position: center;
}

.grey{
    color: grey;
}

/* //SECTION:: */
header .section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: none;
    border-bottom: 3px solid rgb(236, 235, 235, 0.3);
    /* box-shadow: 0px 2px 5px 5px rgba(228, 227, 227, 0.849); */
    height: 5.5rem;
    padding: 2rem 3rem;
} 

header .section--hide{
    display: none;
}

header .section .category_selection{
    display: flex;
    margin-top: 1rem;
    gap: 2.5rem;
    /* text-align: center; */
    /* z-index: -1; */
}

header .section .category_selection .dc{
    width: 6em;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #fff;
}

header .section .category_selection .dc:hover{
    box-shadow: 0px 2px 5px 2px rgba(228, 227, 227, 0.83);
}


header .section .category_selection .dc p{
    margin-top: 0rem;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(84, 84, 84);
}

header .section .filter{
    width: 6rem;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: #fff;
}


header .section .filter:hover{

    box-shadow: 0px 2px 5px 2px rgba(228, 227, 227, 0.83);
}


header .section .filter span{
    font-size: 2rem;
    cursor: pointer;
    color: rgb(84, 84, 84);
}

header .section .filter p{
    margin-top: 0rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(84, 84, 84);
}



/* ..................................................................errror section starts here........................................................... */


.invalid-wrapper{
    width: 90%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.invalid-wrapper > .image-wrapper{
    width: 60%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.invalid-wrapper > .image-wrapper > img{
    height: 100%;
    width: 100%;
}

.invalid-wrapper > .info-wrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.invalid-wrapper > .info-wrapper > h1,h2{
    text-align: left;
}

.invalid-wrapper > .info-wrapper > h1>span{
    font-size: 3.5rem;
    color: #ff385c;
    letter-spacing: 0.05em;
}

.invalid-wrapper > .info-wrapper > h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.invalid-wrapper > .info-wrapper > h2{
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3rem;
}

.invalid-wrapper > .info-wrapper > p{
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3rem;
}

.invalid-wrapper > .info-wrapper > p>a{
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: 5px;
    color: #ff385dbd;
}

.invalid-wrapper > .info-wrapper > p>a:hover{
    text-decoration: underline;
}






/* ..........................................................FOOTER SECTION STARTS HERE...................................................... */


footer{
    position: fixed;
    bottom: 0;
    border-top: 1.2px solid rgb(210, 208, 208);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 4rem;
    background: #fff;
    margin-top: auto;
}

footer .reserve_tab{
    display: none;
}

footer .footer_contents{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

footer .footer_contents>p{
    font-size: 1.5rem;
    letter-spacing: 0.7px;
    color: rgb(152, 152, 152);
}

footer .footer_contents .terms{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

footer .footer_contents .terms p{
    font-size: 1.3rem;
    letter-spacing: 0.7px;
    text-transform: capitalize;
    color: rgb(152, 152, 152);
}

footer .footer_contents h2:nth-child(1){
    font-size: 1.5rem;
}

footer .footer_contents h2>span{
    font-size: 2rem;
}

footer .footer_contents h2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.7px;
}


@media screen and (max-width: 1000px){
    header nav .nav-menu:nth-child(1){
        display: none;
    }

    header nav .nav-menu:nth-child(3)>.profile_div:nth-child(1){
        display: none;
    }

    header nav .nav-menu:nth-child(3)>.profile_div:nth-child(2){
        display: none;
    }

    body>.properties{
        width: 100%;
    }

    .properties .card{
        width: 32%;
    }

    .properties .card .property-details p{
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 750px){
    header{
        width: 100%;
    }

    header nav{
        padding: 1rem;
        gap: 1rem;
    }

    body>.properties{
        width: 95%;
        
    }

    .properties .card{
        width: 45%;
        
    }

    footer .footer_contents>.terms{
        display: none;
    }

    footer .footer_contents h2{
        display: none;
    }

    footer .footer_contents h2:nth-child(1){
        display: block;
    }
}




@media screen and (max-width: 472px){
    header nav{
        padding: 0.2rem;
        gap: 0rem;
    }

    header nav .nav-menu:nth-child(2){
        transform: translateX(0rem);
    }

    header nav .nav-menu:nth-child(3)>.user-menu{
        font-size: 1.2rem;
        padding:  2rem 0.5rem;
    }

    header nav .nav-menu:nth-child(2)>span{
        font-size: 1.2rem;
    }

    .properties .card{
        width: 100%;
        
    }
}